.hero
  background-repeat: no-repeat
  background-position: center center
  background-color: $black
  background-size: cover
  position: relative
  background-image: image-url('testata.jpg')
  color: white
  margin-top: 0

  +at-breakpoint(lap)
    margin-top: 160px

.hero__body
  display: table
  width: 100%
  text-align: center

.hero__body__inner
  display: table-cell
  vertical-align: middle
  +vertical-padding(7)

  +at-breakpoint(tab)
    +vertical-padding(6)

  +at-breakpoint(lap)
    +vertical-padding(8)

  +at-breakpoint(desk)
    +vertical-padding(10)

.hero__heading
  +heading-font-family
  +font-size(iper)
  line-height: 1.2
  margin-left: auto
  margin-right: auto
  max-width: 800px
  text-shadow: -1px 0 $black, 0 1px $black, 1px 0 $black, 0 -1px $black

.hero__text
  +heading-font-family
  +font-size(alpha)
  +margin-top(2)
  max-width: 750px
  margin-left: auto
  margin-right: auto
  text-shadow: -1px 0 $black, 0 1px $black, 1px 0 $black, 0 -1px $black

.hero__actions
  +margin-top(2)

.hero--primary
  @extend .hero
  background-color: $primary-color
  color: white

  .hero__text a
    color: white
