.autos
  +margin-top(5)
  +padding-top(5)
  background-color: $black

.autos__item
  +margin-bottom(5)

.autos__video
  +margin-bottom(2)

.autos__title
  line-height: 1.2
  +heading-font-family
  color: $yellow
  border: 1px solid $yellow
  +padding(1)
  +font-size(beta)

.autos__text
  color: $white
  +body-font-family
  +padding(1)
  +font-size(epsilon)
