.menu
  margin-top: 50px
  border-top: 10px solid $yellow
  background-color: $black
  color: white
  +heading-font-family
  text-transform: uppercase
  transition: all 0.5s ease-in-out
  z-index: 15

  +at-breakpoint(lap)
    position: fixed
    width: 100%
    top: 0
    left: 0

  &.smaller

    +at-breakpoint(lap)
      border-top: none
      transition: all 0.5s ease-in-out
      border-bottom: 1px solid $yellow

      .menu__logo
        background-image: image-url('logo__bianco.jpg')
        height: 4em
        width: 4em
        +vertical-margin(0.5)

      .menu__info
        +padding-left(0)
        +font-size(epsilon)
        line-height: 1.2

.menu__nav
  text-align: center

  +at-breakpoint(lap)
    text-align: right

.menu__logo
  text-align: center
  +margin-bottom(1.5)
  background-image: image-url('logo__black.jpg')
  background-size: contain
  background-repeat: no-repeat
  background-position: center center
  height: 6em
  width: 6em
  transition: all 0.5s ease-in-out
  margin-left: auto
  margin-right: auto

  +at-breakpoint(lap)
    text-align: left
    margin-bottom: 0
    margin-left: 0
    margin-right: 0

.menu__info
  text-align: center
  text-transform: uppercase
  +margin-bottom(1)
  transition: all 0.5s ease-in-out

  +at-breakpoint(lap)
    text-align: left
    +padding-left(0.8)
    +margin-bottom(0)
    +font-size(delta)
    line-height: 1.2
